

fieldset{
    display: flex;
    border: 1px solid #871A3E;
    margin-bottom: 0em;
    flex-direction: column;
    height: 52vh;
    align-items: flex-start;
    text-align: left;
}

.radioItem {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 0.2em;
}