:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --step--2: clamp(0.64rem, calc(0.64rem + 0.00vw), 0.64rem);
    --step--1: clamp(0.72rem, calc(0.70rem + 0.13vw), 0.80rem);
    --step-0: clamp(0.81rem, calc(0.75rem + 0.31vw), 1.00rem);
    --step-1: clamp(0.91rem, calc(0.80rem + 0.56vw), 1.25rem);
    --step-2: clamp(1.03rem, calc(0.85rem + 0.89vw), 1.56rem);
    --step-3: clamp(1.16rem, calc(0.89rem + 1.33vw), 1.95rem);
    --step-4: clamp(1.30rem, calc(0.92rem + 1.90vw), 2.44rem);
    --step-5: clamp(1.46rem, calc(0.94rem + 2.65vw), 3.05rem);
}




.flexContainer{
    margin-top: 3em;
    display:flex;  
    justify-content:center;
    flex-wrap: wrap;
    gap:15px;
    background-color: #260755;
    background-color: rgb(211, 207, 230);

}
.flexItem {
    width:calc(100% / 3 - 15px);
    border-radius: 5px;
    background-color:#D3CFE6;
}
.flexItem h2{
    text-transform:capitalize;
    color: #871A3E;
    font-size: var(--step--4);
}
.flexItem img{
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;

}
