.flexContainer{
    margin-top: 1em;
    display:flex;  
    justify-content: center;
    flex-wrap: wrap;
    background-color: #260755;
    width: 100%;

}

.flexItem {
    width:30%;
    border-radius: 10px;
    background-color:#D3CFE6;
    margin: 0 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.flexItem h2{
    text-transform:capitalize;
    color: #871A3E;
    font-size: var(--step--4);
    margin: 0;
}

.flexItem img{
    object-fit: cover;
    max-width: 85%;
    height: auto;
    vertical-align: middle;
    border-radius: 10px;

}


.textContainer {
    max-width: 85%;
    margin-top: 2em;
    margin-bottom: 1em;
    height: 4em;
}

.imageContainer {
    margin-bottom: 2em;
}

.recipeGallery{
    max-width: 1280px;
}


.moreButton:hover {
    transition: 0.2s;
    border-color: #D3CFE6;
    background-color: #D3CFE6;
    color: #1a1a1a;
}

.moreButton:focus {
    transition: 0.25s;
    background-color: #D3CFE6;
    color: #1a1a1a;
}
