
div {
    display: block;
    width: 100%;
}

.radioContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    padding: 0 30px;
}

.buttonsContainer {
    width: 25%;
}

span {
    margin-top: 2em;
}

.searchBtn {
    padding: 20px 50px;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: #1a1a1a;
    margin-bottom: 50px;
}

.searchBtn:hover,
.searchBtn:focus,
.searchBtn:focus-visible {
    transition: 0.2s;
    border-color: #D3CFE6;
    background-color: #D3CFE6;
    color: #1a1a1a;
}

/* media queries */

@media (max-width: 1300px) {
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .radioContainer {
        max-width: 90%;
    }
}

@media (max-width: 840px) {

    .radioContainer {
        flex-direction: column;
        max-width: 90%;
    }
    .buttonsContainer {
        width: 100%;
        margin-bottom: 1em;
    }
}