#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
}

.btn,
.btnFriend{
  background-color: #871A3E;
  color: #D3CFE6;
  margin: 0 2em;
}


main {
  width: 100%;
  min-height: 100vh;
}


/* media queries */

@media (max-width: 615px) {
  .btn,
  .btnFriend{
    margin: 0 0.5em;
  }
}

@media (max-width: 445px) {
  .mediaFlex {
    display: flex;
    flex-direction: column;
  }

  .btn,
  .btnFriend {
    margin: 0.25em 0;
  }
}