/* import fonts; vite needs fonts imported before any other statement*/
@import url('https://fonts.googleapis.com/css2?family=Judson:wght@400;700&family=Lato&display=swap');

/* typography */

html {
  font-size: 125%;
}

header h1 {
  font-family: 'Judson', serif;
  font-weight: 700;
}

/* base styles */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #D3CFE6;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

body {
  background-color: #260755;
  display: flex;
  align-items: center;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

h1 {
  font-family: 'Judson', serif;
  color: #D3CFE6;
}

form,
p, 
button{
  font-family: 'Lato', sans-serif;
  color: #D3CFE6;
}

.contentSection {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navBtn {
  position: absolute;
  gap: 200px;
  display: flex;
  flex-direction: column;
}